/* -------------------- GLOBAL -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1C1C1C;
}

/* Main white container */
.container {
    width: 100%;
    min-height: 100vh;
    background: white;
    margin: 0;
    padding: 20px 40px;
}

/* -------------------- HEADER -------------------- */
.topbar {
    background: #0077cc;
    color: #ffffff;
    padding: 30px 40px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.logo {
    height: 40px;
}

.top-center {
   text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    flex-grow: 1;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: -1%;
    font-size: 15px;
}

.top-center .date {
  font-size: 0.9rem;
}

.top-center .time {
  font-size: 1.4rem;
  margin: 3px 0;
  font-weight: bold;
}

.top-center .schedule {
  font-size: 0.9rem;
}

.nav-links a {
    margin-left: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/* -------------------- CONTENT -------------------- */
.content {
    margin-top: 30px;
    position: relative;
    margin-left: 3.5%;
}

.back-link {
    color: #0077cc;
    font-size: larger;
    text-decoration: none;
    margin-left: 3%;
    font-weight: bold;
}

.title {
    margin-top: 10px;
    font-size: 38px;
    font-weight: bold;
    margin-left: 3%;
}

.details {
    margin-top: 25px;
    margin-left: 3%;
}

.label {
    font-size: 12px;
    color: #5A5A5A;
}

.subject {
    font-size: 40px;
    color: #0F78D6;
    line-height: 1.1;
    margin-bottom: 15px;
}

.code {
    font-size: 28px;
    color: #0F78D6;
    margin-bottom: 15px;
}

.educator {
    font-size: 18px;
    color: #0F78D6;
}

/* -------------------- RIGHT SIDE CARDS -------------------- */
.stats {
    position: absolute;
    right: 0;
    top: 10px;
    width: 210px;
    text-align: center;
    margin-right: 6%;
}

.stat-card {
    background: #0F78D6;
    color: white;
    border-radius: 40px;
    padding: 18px 0;
    margin-bottom: 15px;
}

.stat-label {
    font-size: 12px;
}

.stat-num {
    font-size: 15px;
    font-weight: bold;
}

/* Buttons under cards */
.small-btn {
    width: 100%;
    background: #0F78D6;
    color: white;
    border: none;
    padding: 7px 0;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
}

.small-btn.gray {
    background: #4c4c4c;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

/* popup box */
.popup {
    background: white;
    padding: 20px 25px;
    border-radius: 20px;
    color: #0F78D6;
    text-align: center;
    font-weight: bold;
    width: 400px;
}

.popup p {
    line-height: 1.5;
    color: #4c4c4c;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.popup-buttons .confirm {
    background: #0077cc;
    color: white;
    padding: 7px 15px;
    font-size: large;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.popup-buttons .cancel {
    background: #4c4c4c;
    color: white;
    padding: 7px 15px;
    font-size: large;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
