body {
    margin: 0;
    font-family: "Archivo", sans-serif;
    background: #ffffff;
}

.top-bar {
    background: #41c321;
    color: #ffffff;
    padding: 30px 40px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.logo img {
    height: 45px;
}

.top-center {
   text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    flex-grow: 1;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: -1%;
    font-size: 15px;
}

.top-center .date {
  font-size: 0.9rem;
}

.top-center .time {
  font-size: 1.4rem;
  margin: 3px 0;
  font-weight: bold;
}

.top-center .schedule {
  font-size: 0.9rem;
}

.note {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.top-links a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 40px 80px;
    color: #4C4C4C;
    padding-left: 10%;
}

.back-link {
    color: #2ecc1a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 22px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

.form-container input {
    width: 300px;
    padding: 10px;
    border: 2px solid #2ecc1a;
    border-radius: 20px;
    font-size: 14px;
}

.schedule-box {
    display: flex;
    flex-direction: column;
}

.small-text {
    font-size: 12px;
    color: #4C4C4C;
    margin-left: 5px;
}

.signup-btn {
    width: 100px;
    padding: 8px;
    border: none;
    background: #2ecc1a;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
