
body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  background-color: #f5f7fa;
}

.oval-header {
  background: #41c321;
    color: #ffffff;
    padding: 30px 40px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.top-center {
   text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    flex-grow: 1;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: -1%;
    font-size: 15px;
}

.top-center .date {
  font-size: 0.9rem;
}

.top-center .time {
  font-size: 1.4rem;
  margin: 3px 0;
  font-weight: bold;
}

.top-center .schedule {
  font-size: 0.9rem;
}

.note {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 1.5rem;
}

.header-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding: 0 2rem;
  margin-top: 10px;
  margin-left: 5%;
}

.go-back {
  text-decoration: none;
  color: #41c321;
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  margin: 12px 0 10px;
}

.page-title {
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #4C4C4C;
}

.info-layout {
  display: flex;
  gap: 5rem;
  margin-right: 5%;
  align-items: flex-start;
}

.subject-card {
  border: 1px solid #41c321;
  border-radius: 25px;
  padding: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #41c321;
}
.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0%;
}

.subject-top p {
  margin: 0.4rem 0;
}

.subject-code {
  font-size: 35px;
  margin-top: 0%;
  margin-bottom: 0%;

}

.subject-name {
  font-size: 45px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}

.subject-card .block,
.subject-card .room,
.subject-card .schedule {
  font-size: 1rem;
  margin-top: 0%;
  margin-bottom: 0%;
}
.block1 {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 45px;
  color: #41C327;
  font-weight: bold;
}

.educator-label {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 0.2rem;
}

.educator-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.attendance-record {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -15px;
}

.student-name {
  font-size: 3rem;
  font-weight: bold;
  color: #41c321;
  margin: 0 0 16px 0; 
  margin-top: 2%;
  
}

.attendance-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.attendance-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  margin-bottom: 8px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
}

.status-label {
  font-size: 1rem;
}

.status-date {
  font-size: 0.95rem;
  opacity: 0.95;
}

.present {
  background-color: #41C327;
}

.late {
  background-color: #DB7944;
}

.absent {
  background-color: #4C4C4C;
}