:root {
    --bgCol: #41C327;
    --titleCol: #4C4C4C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  display: grid;
  grid: 1fr 10px 0.7fr 5fr / auto;
  gap: 5px;
  padding: 10px 20px;
  
  /*width: 1024px;*/
 
}

#backBtn {
    color: var(--bgCol);
    margin-left: 105px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}

h1.name {
  font-size: 48px;
  color: var(--titleCol);
  position: relative;
  top: 20px;
  margin-left: 100px; /* white top adjustment */
}


/* HEADER NI YANSON*/
.top-bar {
    background: #41C327;
    color: #ffffff;
    padding: 30px 40px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    height: 75px;
    }

.logo {
    width: 130px;
    height: 30px;
    border-radius: 30%;
}
.logo span {
    width: 130px;
    height: 30px;
    border-radius: 30%;
}

.top-center {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    flex-grow: 1;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: -1%;
    font-size: 15px;
}

.top-center .date {
  font-size: 0.9rem;
}

.top-center .time {
  font-size: 1.4rem;
  margin: 3px 0;
  font-weight: bold;
}

.top-center .schedule {
  font-size: 0.9rem;
}
.right-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  padding: 20px;
  margin-inline: 80px;
  color: var(--titleCol);
}

.classSect {
    background-color: var(--bgCol);
    color: white;
    padding: 30px;
    border-radius: 40px;
    width: 400px;
    aspect-ratio: 2/1.5;
    display: grid;
    grid-template-rows: 1fr 40px;
}
.subInfo {
    line-height: 1.2;
    font-size: 25px;
}
.block {
    font-size: 35px;
    text-align: right;
    position: relative;
}
.block::before{
    content: "Block";
    position: absolute;
    top: -30%;
    right: -1%;
    font-size: small;
}


.stdList > p {
    font-size: 23px;
}

.std {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
}
.std p {
    align-content: center;
    font-size: 17px;
}
.std #attendance {
    background-color: var(--bgCol);
    color: white;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    font-weight: bolder;
    border: none
}

.saveBtn {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--bgCol);
    color: white;
    border-radius: 20px;
    width: 150px;
    margin-top: 20px;
    text-align: center;
}

.bagongBtn {
  background-color: var(--bgCol);
  color: white;
  padding: 15px 30px;
  position: absolute;
  bottom: 115px;
  right: 150px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.bagongBtn:hover {
  border: 1px solid #5582ff;
}