* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}
    
.header {
    background: #0077cc;
    color: #ffffff;
    padding: 30px 40px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.left-logo {
    font-size: 35px;
    font-weight: bold;
}

.logo-img {
    width: 130px;
    height: 40px;
    border-radius: 30%;
}

.top-center {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    flex-grow: 1;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: -1%;
    font-size: 15px;
}

.top-center .date {
  font-size: 0.9rem;
}

.top-center .time {
  font-size: 1.4rem;
  margin: 3px 0;
  font-weight: bold;
}

.top-center .schedule {
  font-size: 0.9rem;
}

.right-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    margin: 65px;
    gap: 20px;
    margin-left: 5.5%;
}

.left-panel {
    width: 50%;
}

.right-panel {
    width: 50%;
    background: #0b82ce;
    color: white;
    padding: 30px;
    margin-right: 5%;
    border-radius: 40px;
    font-weight: bold;
}

.class-row {
    display: flex;
    gap: 50px;
    margin: 20px 0;
    font-weight: bold;
}

.class-block {
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.no-class {
    color: #0a77c0;
    font-weight: bold;
    margin: 10px 0;
}

.classes {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.pill {
    background: #0b82ce;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    text-align: center;
    width: 160px;
}

.pill.join {
    background: white;
    color: #0b82ce;
    border: 2px solid #0b82ce;

}

.pill.join span {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.button-box {
    background: white;
    color: #0b82ce;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    text-align: left;
}

.button-box.long {
    width: 50%;
}

a {
    text-decoration: none;
    color: #0b82ce;
}