body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background-color: #f5f7fa;
}

.oval-header {
  background: #0077cc;
    color: #ffffff;
    padding: 30px 40px;
    padding-top: 1.1%;
    padding-bottom: 1.2%;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.top-center {
  text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    flex-grow: 1;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: -1%;
    font-size: 15px;
}

.top-center .date {
  font-size: 0.9rem;
}

.top-center .time {
  font-size: 1.4rem;
  margin: 3px 0;
  font-weight: bold;
}

.top-center .schedule {
  font-size: 0.9rem;
}

.note {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 1.5rem;
}

.header-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding: 0 2rem;
  margin-top: 10px;
}

.go-back {
  text-decoration: none;
  color: #0b82ce;
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  margin: 12px 0 15px;
  margin-left: 4%;
}

.page-title {
  font-size: 2.9rem;
  font-weight: bold;
  margin-left: 4%;
  color: #4C4C4C;
  margin-bottom: 1.2rem;
}

.info-layout {
  display: flex;
  margin-left: 4%;
  gap: 5rem;
  align-items: flex-start;
}

.subject-card {
  background-color: #0b82ce;
  color: white;
  border-radius: 45px;
  padding: 2rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
}

.subject-top p {
  margin: 0.4rem 0;
}

.subject-label {
  font-size: 1.2rem;
  font-weight: 500;
}

.subject-code {
  font-size: 1.5rem;
}

.subject-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.room,
.schedule {
  font-size: 1rem;
  font-weight: 500;
}

.subject-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.educator-label {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 0.2rem;
}

.educator-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.attendance-record {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  justify-content: flex-start;
  margin-top: -15px;
}

.student-name {
  font-size: 3rem;
  font-weight: bold;
  color: #0b82ce;
  margin: 0 0 12px 0; 
  
}

.attendance-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.attendance-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  margin-bottom: 8px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
}

.status-label {
  font-size: 1rem;
}

.status-date {
  font-size: 0.95rem;
  opacity: 0.95;
}

.present {
  background-color: #41C327;
}

.late {
  background-color: #DB7944;
}

.absent {
  background-color: #4C4C4C;
}

a {
  text-decoration: none;
    color: #0b82ce;
}